html {
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

p, h1, h2, h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    font-size: 300%;
}

h1{
    font-size: 450%;
}

h2{
    font-size: 400%;
}

h3{
    font-size: 350%;
}

.highlight1{
    color:#07549A;
}

.highlight2{
    color:#46C5F8;
}
.booking1 h3, .booking1 h2, .booking1 p{
    color:white;
    
}

.booking1 h3{
    font-size: 350%;
    
}

.booking1 h2{
    color:black;
}


   #page {
    display: grid;
    width: 100%;
    height: 250px;
    grid-template-areas:
        "icon icon"
        "welcome1 welcome1"
        "welcome2 welcome2"
        "about1 about1"
        "aboutx aboutx"
        "about2 about2"
        "abouty abouty"
        "booking1 booking1"
        "person1 person1"
        "person2 person2"
        "contact contact"
        "foot1 foot2";
    grid-template-rows: 300px 1600px 1000px 800px 500px 850px 650px 1300px 1200px 1200px 1800px 300px;
    grid-template-columns: 500px 500px;
} 


#page::before {
    content: "";
    grid-area: icon-start / icon-start / welcome2-end / welcome2-end;
    background-image: url('Gradient.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    /* ensures the background is beneath your grid items */
}

#page>nav {
    grid-area: icon;    
    text-align: right; 
    font-size: 120%;   
}

#iconid{
    width: 600px;
    height:200px;
}

li a{
    text-decoration: none;
    color: white;
    font-size: 200%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-right: 10px;
}

li{
    display: inline;
}

ul{
    list-style-type: none;
}

.icon {
    grid-area: icon;
    
}

.welcome {
    grid-area: welcome1;
    text-align: center;  
}

.welcome h1, .welcome h3, .welcome p, .welcome h2{
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about1 p{
    color:black
}

.deerimg{
    display: flex;
    grid-area: welcome2;
    align-items: center;
    justify-content: center;
    padding-bottom: 250px;
    
}

.deerimg img{
    height: 120%;
}

.about1 {
    grid-area: about1;
    text-align: center;
    padding-top: 85px;
    background-color: white;
    width: 100%;
}
.aboutx{
    grid-area: aboutx;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-top: 50px;
}

.about2 {
    grid-area: about2;
    text-align: center;
    padding-top: 85px;
    background-color: white;
    width:100%;
    height: 500px;
}

.abouty{
    grid-area: abouty;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    
}

.aboutx img{
    height:900px;
}

.abouty img{
    height:600px;
}

.booking1 {
    background-image: url(Gradient3-1.jpg);
    grid-area: booking1;
    text-align: center;
    background-color: white;
    width: 100%;
    
}
.booking2 {
    grid-area: booking2;
    background-image: url(Gradient3-2.jpg);
    display: none;
    align-items: center;
    justify-content: center;
    padding-right: 100px;
}

.person1 {
    display: flex;
    flex-direction: column;
    grid-area: person1;
    align-items: center;
    justify-content: center;
    background-color: white;
    text-align: center;

    
}

.person1 img, .person2 img{
    height: 600px;
}

.person1 p, .person2 p{
    font-size: 300%;
}

.person1 h2, .person2 h2{
    font-size: 500%;
}

.person2 {
    display: flex;
    flex-direction: column;
    grid-area: person2;
    align-items: center;
    justify-content: center;
    background-color: white;
    text-align: center;
}


.contact {
    grid-area: contact;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("BackgroundPhone.jpg");
    text-align: center;
    font-size: 150%;
}

.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%; /* Adjust as necessary */
  margin-top: 40px;
}

.contact input[type="text"],
.contact textarea {
  width: 90%; /* Adjust the width as needed */
  height: 200px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px; /* Rounded corners */
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1); /* Slight shadow for depth */
}

.contact textarea{
    height: 120%;
}

.contact input[type="submit"] {
  padding: 40px 150px;
  margin-top: 10px;
  border: none;
  border-radius: 30px; /* Rounded corners */
  background-color: #007BFF; /* Bootstrap primary blue, you can change it */
  color: white;
  text-transform: uppercase;
  font-size: 150%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}

.contact input[type="submit"]:hover {
  background-color: #0056b3; /* Darker blue on hover */
}


.footer1 {
    grid-area: foot1;
    display: flex;
    align-items:center;
    padding-left: 400px;
    justify-content:center;
    background-color: #07549A;
    border-right: solid 1px white;
}
.footer2 {
    grid-area: foot2;
    background-color: #07549A;
    border-left: solid 1px white;
    font-size: 10px;
    
    padding-left: 10px;
    color:white;
}

button{
  padding: 40px 140px;
  margin-top: 10px;
  border: none;
  border-radius: 40px; /* Rounded corners */
  background-color: #007BFF; /* Bootstrap primary blue, you can change it */
  color: white;
  cursor: pointer;
  font-size: 200%;
  transition: background-color 0.3s ease;
}

button:hover{
    background-color: #0056b3; /* Darker blue on hover */
}

#bookBtn1{
    padding: 0 300px;
    line-height: 25px; 
    height: 200px;
  margin-top: 10px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;  
  font-size: 300%;
  border: solid #0056b3 2px;
  border-radius: 105px; /* Rounded corners */
  background-color: white; /* Bootstrap primary blue, you can change it */
  color: black;
  cursor: pointer;
  white-space: nowrap;  /* Prevents the text from wrapping */
  overflow: hidden;     /* Ensures that the text doesn't overflow the button boundaries */
  text-overflow: ellipsis; /* Adds an ellipsis if the text is too long to fit */
  transition: background-color 0.3s ease;
}

#bookBtn1:hover{
    background-color: #0056b3; /* Darker blue on hover */
}

#bookBtn2{
    padding: 0 200px;
    line-height: 25px; 
    height: 150px;
  margin-top: 10px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;  
  font-size: 220%;
  border: solid #0056b3 2px;
  border-radius: 105px; /* Rounded corners */
  background-color: white; /* Bootstrap primary blue, you can change it */
  color: black;
  cursor: pointer;
  white-space: nowrap;  /* Prevents the text from wrapping */
  overflow: hidden;     /* Ensures that the text doesn't overflow the button boundaries */
  text-overflow: ellipsis; /* Adds an ellipsis if the text is too long to fit */
  transition: background-color 0.3s ease;
}

#bookBtn2:hover{
    background-color: #0056b3; /* Darker blue on hover */
}
