html {
  scroll-behavior: smooth;
}

p, h1, h2, h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    font-size: 150%;
}

h1{
    font-size: 300%;
}

h2{
    font-size: 250%;
}

h3{
    font-size: 200%;
}

#page {
    display: grid;
    width: 100%;
    height: 250px;
    grid-template-areas:
        "icon icon"
        "welcome1 welcome2"
        "aboutx about1"
        "about2 abouty "
        "booking1 booking2"
        "person1 person2"
        "contact contact"
        "foot1 foot2";
    grid-template-rows: 150px 700px 300px 300px 700px 700px 600px 150px;
    grid-template-columns: 1fr 1fr;
}

#page::before {
    content: "";
    grid-area: icon-start / icon-start / welcome2-end / welcome2-end;
    background-image: url('Gradient.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    /* ensures the background is beneath your grid items */
}

#page>nav {
    grid-area: icon;
    
    text-align: right;
    

}

li a{
    text-decoration: none;
    color: black;
    size: 100%;
}

li{
    display: inline;
}

ul{
    list-style-type: none;
}

.icon {
    grid-area: icon;
    
}

.welcome {
    grid-area: welcome1;
    text-align: center;

    
}

.welcome h1, .welcome h3, .welcome p, .welcome h2{
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about1 p{
    color:black
}

.deerimg{
    display: flex;
    grid-area: welcome2;
    align-items: center;
    justify-content: center;
}

.about1 {
    grid-area: about1;
    text-align: center;
}
.aboutx{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about2 {
    grid-area: about2;
    text-align: center;
}

.abouty{
    display: flex;
    align-items: center;
    justify-content: center;
}

.booking1 {
    background-color: gainsboro;
    grid-area: booking1;
    
}
.booking2 {
    grid-area: booking2;
    background-color: gainsboro;
    display: flex;
    align-items: center;
    justify-content: center;
}

.person1 {
    display: flex;
    flex-direction: column;
    grid-area: person1;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
}

.person2 {
    display: flex;
    flex-direction: column;
    grid-area: person2;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
}

.contact {
    grid-area: contact;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("Background.jpg");
    text-align: center;
}

.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%; /* Adjust as necessary */
}

.contact input[type="text"],
.contact textarea {
  width: 90%; /* Adjust the width as needed */
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px; /* Rounded corners */
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1); /* Slight shadow for depth */
}

.contact input[type="submit"] {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px; /* Rounded corners */
  background-color: #007BFF; /* Bootstrap primary blue, you can change it */
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}

.contact input[type="submit"]:hover {
  background-color: #0056b3; /* Darker blue on hover */
}


.footer1 {
    grid-area: foot1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    border-right: solid 1px white;
}
.footer2 {
    grid-area: foot2;
    background-color: blue;
    border-left: solid 1px white;
    
}

button{
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px; /* Rounded corners */
  background-color: #007BFF; /* Bootstrap primary blue, you can change it */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover{
    background-color: #0056b3; /* Darker blue on hover */
}

#bookBtn{
    padding: 20px 250px;
  margin-top: 10px;
  border: solid #0056b3 2px;
  border-radius: 35px; /* Rounded corners */
  background-color: gainsboro; /* Bootstrap primary blue, you can change it */
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#bookBtn:hover{
    background-color: #0056b3; /* Darker blue on hover */
}
